@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Roboto+Condensed:wght@300;700&display=swap');

:root {
  --bgPrimary: #222;
  --bgSecondary: #080708;
  --bgSidebar: #3C3C3C;
  --textPrimary: #E6E8E6;
  --textSecondary: #FDCA40;
  --phoneUpperBoundary: 600px;
  --tabletUpperBoundary: 1200px;
  --monospaceFont: 'Roboto Mono', monospace;
  --textShadow: 0 0 4px;
  font-family: 'Roboto Condensed', sans-serif;
  color: var(--textPrimary);
  font-size: 20px;
}

body {
  background: var(--bgSecondary);
}

ul {
  line-height: 1.6em;
  padding-left: 1.2em;
}

@media screen and (max-width: 1200px) {
  :root {
    font-size: 18px;
  }
}
